@{
    ViewBag.Title = "About";
}

@section Hero {
    <div class="about-hero">
        <div class="container valign">
            <div class=" row">
                <div class="col-md-12">
                    <a href="http://techpro.bcit.ca/WTD2015"><h1 class="massivetitle">WINDOWS TOWER DEFENDER</h1></a>
                </div>
            </div>
        </div>
    </div>
}

<div class="container top50">
    <div class="row">
        <div class="col-sm-12">
            <p class="header-text-large header-about">ABOUT</p>
            <p>
                Windows Tower Defender is a fast-paced, strategic, and competitive online multiplayer tower defense game that uses resources to build anti virus defender structures for defending yourself
                against deadly viruses. Each structure, also known as towers, have their own unique design and stats for attacking the against the
                incoming waves of viruses. Use a combination of the available towers to increase your chances of surviving against the attacks. A match consists of a total of 4 players, with 2 players per team.
                You have the ability to send additional viruses against your foe so team up with your partner and make a strategy that will win you the match.
                <br /><br />
                Windows Tower Defender was created in a platform called Unity by CST students in BCIT.
            </p>
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-sm-12">
            <img src="~/Content/group.png" class="groupphoto"/>
        </div>
    </div>

    <br /><br />

            <div class="row">
                <div class="col-sm-12 profilewrap">

                    <p class="header-text col-xs-12">INSTRUCTOR / MENTOR</p>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/mirela.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Mirela</span> <span class="person-title"></span></span>
                            </div>
                            <div class="student-description">
                                Mirela was our instructor/mentor for this project. She taught us about .NET and agile development practices.<br />We learned a lot from her and she played a significant role in the organization of this project.
                            </div>
                        </div>
                    </div>

                    <p class="header-text col-xs-12">PROJECT MANAGERS</p>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/leon.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Leon</span> <span class="person-title"> | Project Manager</span></span>
                            </div>
                            <div class="student-description">
                                Leon was one half of the management team. Vincent and him delegated tasks and kept the project on track. He provided technical assistance to developers and deployed the final product.
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/vincent.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Vincent</span> <span class="person-title"> | Project Manager</span></span>
                            </div>
                            <div class="student-description">
                                Project management has been interesting throughout this project. Many people work well together but others not quite as much. This project was a great learning experience for all of us and we had a great team building experience. We enjoyed trapping out the tech pro room.
                            </div>
                        </div>
                    </div>

                    <p class="header-text col-xs-12">GAME LOGIC</p>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/calvin.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Calvin</span><span class="person-title"> | Game Logic Team Leader</span></span>
                            </div>
                            <div class="student-description">
                                Worked on the game logic, basically on how the towers shoot, how the monsters spawn, path-finding algorithm, shuffled around from game logic team to GUI team.
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/luka.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Luka</span><span class="person-title"> | Game Logic Team</span></span>
                            </div>
                            <div class="student-description">
                                Luka is part of the Game Logic Team. Initially focusing on tower development, Luka also worked on game resource logic.  Currently Luka is part of the testing team.
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/darnell.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Darnell</span><span class="person-title"> | Game Logic Team</span></span>
                            </div>
                            <div class="student-description">
                                Darnell made contributions in the game logic team as well as networking integration.
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/dima.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Dima</span><span class="person-title"> | Game Logic Team</span></span>
                            </div>
                            <div class="student-description">
                                Dima made contributions in the Game Logic team.
                            </div>
                        </div>
                    </div>

                    <p class="header-text col-xs-12">NETWORKING</p>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/joel.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Joel</span><span class="person-title"> | Networking Team | GUI Team</span></span>
                            </div>
                            <div class="student-description">
                                Joel was part of the Networking team and helped with designing the multiplayer component of the game. He also worked on implementing functionality for the GUI.
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/nadia.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Nadia</span><span class="person-title"> | Networking Team</span></span>
                            </div>
                            <div class="student-description">
                                Nadia comes from a place that no longer exists.  Eventually Nadia ended up in BCIT woring in the Tower Defence's Networking team.  Having no beginning caused Nadia to never be able to stay in one place; currently she is with the Testing Team.  Who knows where she will be tomorrow?
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/rosanna.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Rosanna</span><span class="person-title"> | Networking Team</span></span>
                            </div>
                            <div class="student-description">
                                Rosanna started out on the networking team. As part of the networking team Rosanna, along with Nadia, built a prototype proving that Unity could be used to handle a multiplayer game. Rosanna then moved on to the testing team and wrote and conducted many of the web application and usability tests.
                            </div>
                        </div>
                    </div>

                    <p class="header-text col-xs-12">GUI TEAM</p>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/becky.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Becky</span><span class="person-title"> | GUI Team Leader</span></span>
                            </div>
                            <div class="student-description">
                                Becky is the leader of the GUI team. She was incharge of planning the game interface and creating graphical assests.
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/kevin.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Kevin</span><span class="person-title"> | GUI Team</span></span>
                            </div>
                            <div class="student-description">
                                Part of the GUI and Game Design team. Created assets such as map tiles, sound effects etc. His Tier 2 and 3 turrets and mobs were scrapped due to time constraints and he's sad. Rip Mirela's Stormforge 2015-2015
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/andrew.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Andrew</span><span class="person-title"> | GUI Team | Game Logic Team</span></span>
                            </div>
                            <div class="student-description">
                                Andrew is part of the GUI and Game Logic team, he contributed in the tower and enemy assets and their implementations into the game itself.  Other contributions include specific tower attack features.
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/noimage.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Iggy aka D6</span><span class="person-title"> | GUI Team</span></span>
                            </div>
                            <div class="student-description">
                                "I was forced to write this." - D6
                            </div>
                        </div>
                    </div>

                    <p class="header-text col-xs-12">WEB TEAM</p>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/jeff.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Jeff</span><span class="person-title"> | Web Development Team Leader | Networking Team</span></span>
                            </div>
                            <div class="student-description">
                                Jeff was originally a team lead for the web team. He, Duy, and Jens designed and implemented the back end logic for the matchmaking component of the game. After that section of the project was finished, Jeff moved to the Networking team where he helped create the UDP protocol for the server.
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/duy.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Duy</span><span class="person-title"> | Web Development Team | Networking Team</span></span>
                            </div>
                            <div class="student-description">
                                Duy, Jeff, and Jens were placed in the Web development team to produce a website with the purpose of matching players together and launching the game. After the web component of the project was completed, Duy and Jeff transfered to the Networking team to provide help with creating a protocol for server and client communication.
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/jens.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Jens</span><span class="person-title"> | Web Develop Team | Networking Team Leader</span></span>
                            </div>
                            <div class="student-description">
                                Jens was on the web team with Jeff and Duy originally. He helped design and develop the back end of the website. He came up with the ultra slick layout. After the website was complete he was allocated as the team lead for the networking team. Once there, he helped implement the server protocol.
                            </div>
                        </div>
                    </div>

                    <p class="header-text col-xs-12">DATABASE</p>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/gerald.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Gerald</span><span class="person-title"> | Database Team Leader | Testing Team</span></span>
                            </div>
                            <div class="student-description">
                                "I'd rather be flying." - Gerald
                            </div>
                        </div>
                    </div>

                    <div class="student-profile col-sm-12">
                        <div class="student-photo col-xs-12 col-sm-2 col-md-1">
                            <img src="~/Content/Mugshots/wilson.jpg" class="mugshot" />
                        </div>
                        <div class="rightsideprofile col-xs-12 col-sm-10 col-md-11">
                            <div class="student-role">
                                <span class="subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> <span class="person-name">Wilson</span><span class="person-title"> | Database Team | Testing Team</span></span>
                            </div>
                            <div class="student-description">
                                Wilson and Gerald did the database stuff.
                            </div>
                        </div>
                    </div>

                    <br /><br /><br /><br /><br />
                </div>
            </div>
        </div>


