@{
    ViewBag.Title = "About";
}

@section Hero {
<div class="about-hero">
    <div class="container valign">
        <div class=" row">
            <div class="col-md-12">
                <h1 class="massivetitle">WINDOWS TOWER DEFENDER</h1>
            </div>
        </div>
    </div>
</div>
}

<div class="container top50">
    <div class="row">
        <div class="col-md-6">
            <p class="lead header-text">ABOUT</p>
            <p>
                Windows Tower Defender is a fast-paced, strategic, and competitive online multiplayer tower defense game that uses resources to build anti virus defender structures for defending yourself
                against deadly viruses. Each structure, also known as towers, have their own unique design and stats for attacking the against the
                incoming waves of viruses. Use a combination of the available towers to increase your chances of surviving against the attacks. A match consists of a total of 4 players, with 2 players per team.
                You have the ability to send additional viruses against your foe so team up with your partner and make a strategy that will win you the match.
                <br /><br />
                Windows Tower Defender was created in a platform called Unity by CST students in BCIT.
            </p>
        </div>
        <div class="col-md-6 aboutpic">
        </div>
    </div>

    <div class="row top50">
        <div class="col-md-7">
            <p class="lead subheader-text"><span class="glyphicon glyphicon-chevron-right"></span>    How To Play</p>
            <p>
                This will be updated later so ignore the text here. Windows Tower Defender is a fast-paced, strategic, and competitive online multiplayer tower defense game that uses resources to build anti virus defender structures for defending yourself against deadly viruses.
                <br /><br />Each structure, also known as towers, have their own unique design and stats for attacking the against the incoming waves of viruses. Use a combination of the available towers to increase your chances of surviving against the attacks.
                <br /><br />A match consists of a total of 4 players, with 2 players per team. You have the ability to send additional viruses against your foe so team up with your partner and make a strategy that will win you the match.

                Windows Tower Defender was created in a platform called Unity by CST students in BCIT.
            </p>
        </div>
        <div class="col-md-4 pull-right">
            <p class="lead subheader-text"><span class="glyphicon glyphicon-chevron-right"></span>    Tips & Strategies</p>
            <p>
                <span class="glyphicon glyphicon-minus subheader-text"></span> This will be updated later so ignore the text here.
                <br /><br /><span class="glyphicon glyphicon-minus subheader-text"></span> Each structure, also known as towers, have their own unique design and stats for attacking the against the incoming waves of viruses.
                <br /><br /><span class="glyphicon glyphicon-minus subheader-text"></span> A match consists of a total of 4 players, with 2 players per team. 
                <br /><br /><span class="glyphicon glyphicon-minus subheader-text"></span> You have the ability to send additional viruses against your foe so team up with your partner and make a strategy that will win you the match.
            </p>
        </div>
    </div>
    <div class="row top50">
        <div class=" col-md-8 center span7">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-about">DEVELOPMENT TEAM</div>
                <div class="panel-body">
                    <div class="col-md-2">
                        <span class="lead">Gui</span><br />
                        Becky<br />
                        Kevin<br />
                        Andrew Iggy<br />
                    </div>
                    <div class="col-md-2">
                        <span class="lead">Web</span><br />
                        Duy<br />
                        Leon<br />
                        Jeff<br />
                    </div>
                    <div class="col-md-2">
                        <span class="lead">Database</span><br />
                        Gerald<br />
                        Wilson<br />
                    </div>
                    <div class="col-md-2">
                        <span class="lead">Network</span><br />
                        Joel<br />
                        Rosanna<br />
                        Nadia<br />
                        Gerald<br />
                        Wilson<br />
                        Jens<br />
                    </div>
                    <div class="col-md-2">
                        <span class="lead">Game Logic</span><br />
                        Luka<br />
                        Darnell<br />
                        Dima<br />
                        Calvin<br />
                        Andrew<br />
                        Vincent<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
