@{
    ViewBag.Title = "Download";
}

<div class="container">
    <div class="row top50">
        <div class="col-md-8 downloadhero text-center">
            <h1>DOWNLOAD WINDOWS TOWER DEFENDER</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur</p>
            <p><a href="#" class="btn btn-primary btn-lg">Download Game&nbsp;&nbsp;<span class="glyphicon glyphicon-download"></span></a></p>
            <p>Don't have an account? <a class="signup-text" href="#">SIGN UP HERE</a></p>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info fixed-panel pull-right">
                <div class="panel-heading">
                    <h3 class="panel-title">System Requirements</h3>
                </div>
                <div class="panel-body">
                    <span class="requirementtitle">Operating system:</span> Windows XP SP2+, 7 SP1+, 8<br />
                    <span class="requirementtitle">Processor:</span><br />
                    <span class="requirementtitle">RAM:</span><br />
                    <span class="requirementtitle">Graphics card:</span> DX9 (shader model 2.0) capabilities<br />
                    <span class="requirementtitle">Sound:</span> Compatible with DirectX9.0c<br />
                    <span class="requirementtitle">Hard drive space:</span><br />
                </div>
            </div>
        </div>
    </div>
</div>