@{
    ViewBag.Title = "Download";
}

@section Hero {
    <div class="about-hero">
        <div class="container valign">
            <div class=" row">
                <div class="col-md-12">
                    <a href="http://techpro.bcit.ca/WTD2015"><h1 class="massivetitle">WINDOWS TOWER DEFENDER</h1></a>
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row top50">
        <div class="col-md-8 downloadhero text-center">
            <h1 class="download-banner-text">DOWNLOAD GAME CLIENT</h1>
            <p class="lead download-banner-text">Play and connect with 4 other players!</p>
            <p><a href="http://techpro.bcit.ca/WTD2015/Content/setup.exe" class="btn btn-primary btn-lg">Download Installer&nbsp;&nbsp;<span class="glyphicon glyphicon-download"></span></a></p>
            <p class="download-banner-text">Don't have an account? <a class="signup-text" href="http://techpro.bcit.ca/WTD2015/Account/Register">Register</a></p>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info fixed-panel pull-right">
                <div class="panel-heading">
                    <h3 class="panel-title">System Requirements</h3>
                </div>
                <div class="panel-body">
                    <span class="requirementtitle">Operating system:</span> Windows XP SP2+, 7 SP1+, 8<br /><br />
                    <span class="requirementtitle">Processor:</span><br /><br />
                    <span class="requirementtitle">RAM:</span> 1 GB DDR3<br /><br />
                    <span class="requirementtitle">Graphics card:</span> DX9 (shader model 2.0) capabilities<br /><br />
                    <span class="requirementtitle">Sound:</span> Compatible with DirectX9.0c<br /><br />
                    <span class="requirementtitle">Hard drive space:</span> 20 MB
                </div>
            </div>
        </div>
    </div>
</div>