@{
    ViewBag.Title = "Guide";
}

@section Hero {
    <div class="about-hero">
        <div class="container valign">
            <div class=" row">
                <div class="col-md-12">
                    <a href="http://techpro.bcit.ca/WTD2015"><h1 class="massivetitle">WINDOWS TOWER DEFENDER</h1></a>
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row topcontainer">
        <div class="col-xs-12">
            <h2>Guide</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">How to </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7">
                            <p class="lead subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> How To Play</p>
                            <p>
                                Download the game at the Download Page to start a match with 3 other players. Log into an existing account and click the Join Lobby button. When all four players are ready, the game will automatically begin. There are a total of 4 players in a single game, consisting of teams of two.
                                Work with your teammate to dominate your opponents.
                                <br /><br />
                                Each player is allocated a set amount of resources. Players obtain resources by destroying enemy viruses. Build towers to defend yourself while your viruses attack the enemy towers and work towards the enemy's anti-virus.
                                <br /><br />The game is over once the enemy's anti-virus is destroyed.
                            </p>
                        </div>
                        <div class="col-md-4 pull-right">
                            <p class="lead subheader-text"><span class="glyphicon glyphicon-chevron-right"></span> Tips & Strategies</p>
                            <p>
                                <span class="glyphicon glyphicon-minus subheader-text"></span> Keep an eye on your resources. Sending units can quickly add up.
                                <br /><br /><span class="glyphicon glyphicon-minus subheader-text"></span> Each structures have their own strengths and weaknesses. Use a combination to create a winning strategy.
                                <br /><br /><span class="glyphicon glyphicon-minus subheader-text"></span> Plan and work together with your teammate to conquer your enemies
                                <br /><br /><span class="glyphicon glyphicon-minus subheader-text"></span> Place towers that cover the largest area to maximize damage.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

        
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Screenshots</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <div class="media-img"><img src="../Resources/call_to_action2.png" /></div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="media-img"><img src="../Resources/call_to_action1.png" /></div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="media-img"><img src="../Resources/call_to_action1.png" /></div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="media-img"><img src="../Resources/call_to_action2.png" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">Virus Towers</div>
                    <div class="panel-body"></div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="~/Resources/towers/viruses/mob-boot_loader_virus.png" style="width: 50px; height:50px;" />
                        </div>
                        <div class="col-xs-9" style="text-align:left">
                            <b>Boot Infector Virus</b>
                            <br />
                            Description: Regular mob character; neutralized in one shot.
                            <br />
                            Special: None
                            <br />
                            Upgrades:<br />
                            1) Greater defense<br />
                            2) Greater speed<br />
                            <br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="~/Resources/towers/viruses/mob-hijacker_virus.png" style="width: 50px; height:50px;" />
                        </div>
                        <div class="col-xs-9" style="text-align:left">
                            <b>Hijacker Virus</b>
                            <br />
                            Description: When neutralized, all virus within a 3x3 range will move faster.
                            <br />
                            Special: Effective against invisible viruses.
                            <br />
                            Upgrades:<br />
                            1) Greater defense<br />
                            2) Greater speed<br />
                            <br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="~/Resources/towers/viruses/mob-macro_virus.png" style="width: 50px; height:50px;" />
                        </div>
                        <div class="col-xs-9" style="text-align:left">
                            <b>Macro Virus</b>
                            <br />
                            Description: Moves 2x faster than a regular virus
                            <br />
                            Special: None
                            <br />
                            Upgrades:<br />
                            1) Greater defense<br />
                            2) Greater speed<br />
                            <br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="~/Resources/towers/viruses/worm_virus.png" style="width: 50px; height:50px;" />
                        </div>
                        <div class="col-xs-9" style="text-align:left">
                            <b>Worm Virus</b>
                            <br />
                            Description: Self replicating virus; can only be seen if  invisible detecting turrets are in range.
                            <br />
                            Special: Replicates itself once before neutralization
                            <br />
                            Upgrades:<br />
                            1) Greater defense<br />
                            2) Greater speed<br />
                            <br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="~/Resources/towers/viruses/email_virus.png" style="width: 50px; height:50px;" />
                        </div>
                        <div class="col-xs-9" style="text-align:left">
                            <b>Email Virus</b>
                            <br />
                            Description: Hidden in an envelope; neutralized in 2 shots.
                            <br />
                            Special: Effective against invisible viruses.
                            <br />
                            Upgrades:<br />
                            1) Greater defense<br />
                            2) Greater speed<br />
                            <br /><br />
                        </div>
                    </div>
                    <br />
                </div>
            </div>

            <div class="col-xs-12 col-md-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">AntiVirus Towers</div>
                    <div class="panel-body"></div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="~/Resources/towers/antiviruses/tower-kaspersky.png" style="width: 50px; height:50px;" />
                        </div>
                        <div class="col-xs-9" style="text-align:left">
                            <b>Kaspersky (Ground Only, Detector)</b>
                            <br />
                            Description: Can detect invisible viruses within range.
                            <br />
                            Special: Effective against invisible viruses.
                            <br />
                            Upgrades:<br />
                            1) Greater damage<br />
                            2) Greater attack range<br />
                            3) Greater attack speed
                            <br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="~/Resources/towers/antiviruses/tower-avg.png" style="width: 50px; height:50px;" />
                        </div>
                        <div class="col-xs-9" style="text-align:left">
                            <b>AVG (Ground and Air)</b>
                            <br />
                            Description: Can hit air and ground viruses.
                            <br />
                            Special: Applies xxx damage per second for xxx seconds to all viruses it hits.
                            <br />
                            Upgrades:<br />
                            1) Greater damage<br />
                            2) Greater attack range<br />
                            3) Greater attack speed
                            <br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="~/Resources/towers/antiviruses/mcafee_turret.png" style="width: 50px; height:50px;" />
                        </div>
                        <div class="col-xs-9" style="text-align:left">
                            <b>McAfee (Ground Only, AOE)</b>
                            <br />
                            Description: Can attack all viruses in a 4x4 radius around itself.
                            <br />
                            Special: None
                            <br />
                            Upgrades:<br />
                            1) Greater damage<br />
                            2) Greater attack range<br />
                            3) Greater attack speed
                            <br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="~/Resources/towers/antiviruses/norton_turret.png" style="width: 50px; height:50px;" />
                        </div>
                        <div class="col-xs-9" style="text-align:left">
                            <b>Norton (Ground Only, AOE)</b>
                            <br />
                            Description: Applies xxx damage to all viruses with the 3 tiles in front of itself.
                            <br />
                            Special: None
                            <br />
                            Upgrades:<br />
                            1) Greater damage<br />
                            2) Greater attack range<br />
                            3) Greater attack speed
                            <br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="~/Resources/towers/antiviruses/avast_turret.png" style="width: 50px; height:50px;" />
                        </div>
                        <div class="col-xs-9" style="text-align:left">
                            <b>Avast</b>
                            <br />
                            Description: Slows down all viruses it hits by xxx.
                            <br />
                            Special: None
                            <br />
                            Upgrades:<br />
                            1) Greater damage<br />
                            2) Greater attack range<br />
                            3) Greater attack speed
                            <br /><br />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div><br /><br /><br />