@{
    ViewBag.Title = "Matchmaking";
}

<h2>@ViewBag.Title</h2>

<div class="row">

    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="/Matchmaking/Find"><button class="btn-lg btn-success" type="button">Search for Game >></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Game History</h2>

                <br />

                <div class="row">
                    <div class="col-xs-2">
                        <span class="label label-success">WIN</span>
                    </div>
                    <div class="col-xs-10">
                        11/12/2005 10:42pm
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-xs-2">
                        <span class="label label-danger">LOSS</span>
                    </div>
                    <div class="col-xs-10">
                        11/12/2005 10:42pm
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-xs-2">
                        <span class="label label-success">WIN</span>
                    </div>
                    <div class="col-xs-10">
                        11/12/2005 10:42pm
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-xs-2">
                        <span class="label label-danger">LOSS</span>
                    </div>
                    <div class="col-xs-10">
                        11/12/2005 10:42pm
                    </div>
                </div>
                    
            </div>
        </div>
        
    </div>

</div>