@{
    ViewBag.Title = "Game Lobby";
}

<h2>@ViewBag.Title</h2>

<div class="row">

    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-body">
                Chat

                <div class="row">
                    <div class="col-xs-12">
                        <textarea class="form-control custom-control chat" rows="3" style="resize:none">You have joined game #234.</textarea>
                        <div class="input-group">
                            <input type="text" class="form-control chatmessage" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Users</h2>
                User 1<br />
                User 2<br />
                User 3<br />
                User 4
            </div>
        </div>
        <br />
        0/4 Users Ready
        <br /><br />
        Waiting...
        <br /><br />
        <button class="btn-lg btn-success" type="button">I'm Ready</button>
        <button class="btn-lg btn-danger" type="button">Leave Lobby</button>
    </div>

</div>