@import url(https://fonts.googleapis.com/css?family=Expletus+Sans:400,500,700);

*:not(span) {
    font-family: 'Expletus Sans', cursive !important;
    color: #f6f7ff !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, .3);
}

html, body {
  height: 100%;
}

body {
    padding-top: 50px;
    /*background: url(../Resources/bgtexture.png);*/
    background: #181818 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background: #158CBA;
    box-shadow: 0 2px 2px -2px gray;
    line-height: 50px;
}

.navbar-brand {
    color: #000 !important;
}

.navbar li a:link {
    color: #ddd;
}

.navbar-icon {
    height: 30px;
    width: 30px;
}

.hero {
    width: 100%;
    height: 725px;
    padding: 100px 25px 25px 25px;
    margin: 0;
    background: url(../Resources/hero3.JPG);
    background-size: cover;
    /*background: #171015;*/
    /*box-shadow: 0 4px 2px -2px gray;*/
    -webkit-box-shadow: 0px 50px 49px -44px #283592;
    -moz-box-shadow: 0px 50px 49px -44px #283592;
    box-shadow: 0px 50px 49px -44px #283592;
}

.hero h1 {
    text-align: center;
    margin-top: 0;
    color: white;
    text-shadow: 0 0 10px #c30042, 0 0 10px #041fb6;
    font-size: 5em;
}

.hero-login {
    border-left: none;
    border-right: none;
}

.hero .lead {
    font-weight: bold;
    text-shadow: 0 2px 1px #342330;
}

.hero-login .panel-body {
    background: #342330;
}

.hero-login label {
    color: #ddd !important;
}

.hero-login {
    box-shadow: 0 0 50px rgba(0, 0, 0, .5) !important;
}

.call-to-action-wrapper {
        margin-top: 40px;
}

.call-to-action {
    text-align: center;
}

.call-to-action a:link {
    text-decoration: none;
}

.call-to-action .panel {
    background: #171015;
    -webkit-box-shadow: 0px 50px 49px -44px #283592;
    -moz-box-shadow: 0px 50px 49px -44px #283592;
    box-shadow: 0px 50px 49px -44px #283592;

    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.panel-heading {
    background: #3F51B5 !important;
}

form input {
    color: #ddd !important;
}

.btn, .btn-primary {
    background: #C12157 !important;
}


footer {
    background: #3F51B5;
    margin: 50px 0 0 0;
    padding: 0 0 0 20px;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
}

/* LOBBY ------------------------------------------------------------------------ */
.chat {
    max-width: none;
    margin-bottom: 10px;
    min-height: 300px;
}
.chatmessage {
    max-width: none;
    height: 37px;
}


/* DOWNLOAD ------------------------------------------------------------------------ */
.requirementtitle {
    font-weight: bold;
}
.downloadhero {
    height: 300px;
    background: black;
    padding: 25px;
    margin: 0;
    background: url(../Resources/hero.JPG);
    background-size: 100% 100%;
    box-shadow: 0 4px 2px -2px gray;
}
.fixed-panel {
    min-height: 305px;
    max-height: 305px;
}
.signup-text {
    color:#ae2509;
}
.signup-text:hover {
    color: #ae2509;
}

/* MARGINS ------------------------------------------------------------------------ */
/* top, bottom, left, right + amount */
.top50 {
    margin-top: 50px;
}
