*:not(span) {
    font-family: 'Expletus Sans', cursive !important;
    color: #f6f7ff !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, .3);
}

html, body {
  height: 100%;
}

body {
    padding-top: 50px;
    background: #181818;
    background: url(/Resources/hexabump.png);
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}

.body-content {
    margin-top: 38px;
}

.form-group .form-control:focus, .form-group-default .form-control:focus {
    background-image: linear-gradient(#3F51B5, #3F51B5),linear-gradient(#d2d2d2,#d2d2d2) !important;
}

.modal-content {
    background: #342330 !important;
}

.navbar a:hover {
    background: #C12157 !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.chatbox, .chat {
    max-height: 450px;
}

.chat {
    overflow-y:auto;
    max-height: 300px;
}


#small-logo {
    width: auto;
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

input[type=text], input[type=password] {
    padding-left: 5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background: #3F51B5 !important;
    line-height: 50px;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.36);
}

.navbar-brand {
    color: #000 !important;
}

.navbar li a:link {
    color: #ddd;
}

.navbar-icon {
    height: 30px;
    width: 30px;
}

.massivetitle {
    text-shadow: 0 0 10px #222222, 0 0 20px #C12157;
}

.hero {
    width: 100%;
    height: 725px;
    padding: 100px 25px 25px 25px;
    margin: 0;
    background: url(../Resources/hero3.JPG);
    background-size: cover;
    box-shadow: 0px 45px 70px -40px #000000;
    text-align: center;
    -webkit-box-shadow: 0px 50px 49px -44px #283592;
    -moz-box-shadow: 0px 50px 49px -44px #283592;
    box-shadow: 0px 50px 49px -44px #283592;
}

.hero h1 {
    text-align: center;
    margin-top: 0;
    color: white;
    font-size: 5em;
}

.hero-login {
    border-left: none;
    border-right: none;
}

.hero .lead {
    font-weight: bold;
    text-shadow: 2px 2px 1.5px #000;
}

.panel {
    background: #342330;
}

.hero-login label {
    color: #ddd !important;
}

.hero-login {
    box-shadow: 0 0 50px rgba(0, 0, 0, .5) !important;
}

.call-to-action-wrapper {
    margin-top: 40px;
    margin-bottom: 60px;
}

.call-to-action {
    text-align: center;
}

.call-to-action a:link {
    text-decoration: none;
}

.btn-default, .btn-primary {
}

.btn-default:hover, .btn-primary:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, .5) !important;
}

.call-to-action .panel {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181818+28,342330+100&amp;0+0,0+28,1+100 */
    background: -moz-linear-gradient(top,  rgba(24,24,24,0) 0%, rgba(24,24,24,0) 28%, rgba(52,35,48,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(24,24,24,0)), color-stop(28%,rgba(24,24,24,0)), color-stop(100%,rgba(52,35,48,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(24,24,24,0) 0%,rgba(24,24,24,0) 28%,rgba(52,35,48,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(24,24,24,0) 0%,rgba(24,24,24,0) 28%,rgba(52,35,48,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(24,24,24,0) 0%,rgba(24,24,24,0) 28%,rgba(52,35,48,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(24,24,24,0) 0%,rgba(24,24,24,0) 28%,rgba(52,35,48,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00181818', endColorstr='#342330',GradientType=0 ); /* IE6-9 */
    
    -webkit-box-shadow: 0px 50px 49px -44px #283592;
    -moz-box-shadow: 0px 50px 49px -44px #283592;
    box-shadow: 0px 50px 49px -44px #283592;

    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 2px groove #333;
    padding-bottom: 20px;
}

.call-to-action .panel:hover {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181818+14,342330+100&amp;0+14,1+100 */
    background: -moz-linear-gradient(top,  rgba(24,24,24,0) 14%, rgba(52,35,48,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,rgba(24,24,24,0)), color-stop(100%,rgba(52,35,48,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(24,24,24,0) 14%,rgba(52,35,48,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(24,24,24,0) 14%,rgba(52,35,48,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(24,24,24,0) 14%,rgba(52,35,48,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(24,24,24,0) 14%,rgba(52,35,48,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00181818', endColorstr='#342330',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0px 50px 49px -44px #C12157;
    -moz-box-shadow: 0px 50px 49px -44px #C12157;
    box-shadow: 0px 50px 49px -44px #C12157;

}

.call-to-action .panel-body {
    padding-bottom: 0;
}

.panel-heading {
    background: #3F51B5 !important;
}

form input {
    color: #ddd !important;
}

.btn, .btn-primary {
    background: #C12157 !important;
}


footer {
    background: #3F51B5;
    margin: 50px 0 0 0;
    padding: 0 0 0 20px;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    position: absolute;
    bottom: 0;
}

/* LOBBY ------------------------------------------------------------------------ */
.chat {
    max-width: none;
    margin-bottom: 10px;
    min-height: 300px;
}
.chatmessage {
    max-width: none;
    height: 37px;
}
.username {
    font-weight: bold;
}
#sendmessage {
    margin-left: 20px;
}

/* DOWNLOAD ------------------------------------------------------------------------ */
.requirementtitle {
    font-weight: bold;
}
.downloadhero {
    height: 300px;
    background: black;
    padding: 25px;
    margin: 0;
    background: url(../Resources/hero3.JPG);
    background-size: 100% 100%;
     -webkit-box-shadow: 0px 50px 49px -44px #283592;
    -moz-box-shadow: 0px 50px 49px -44px #283592;
    box-shadow: 0px 50px 49px -44px #283592;
}
.fixed-panel {
    min-height: 305px;
    max-height: 305px;
}
.signup-text {
    color:#ff1b1b !important;
    text-shadow: 0 0 10px #222222, 0 0 20px #342330;
}
.signup-text:hover {
    color: #ae2509;
}
.download-banner-text {
    text-shadow: 0 0 10px #222222, 0 0 20px #342330;
}


/* ABOUT ------------------------------------------------------------------------ */
.aboutpic {
    height: 300px;
    background: black;
    padding: 25px;
    margin: 0;
    background: url(../Resources/hero3.JPG);
    background-size: 100% 100%;
    box-shadow: 0 4px 2px -2px gray;
}
.header-text {
    color:#3F51B5 !important;
    font-size: 30pt;
}
.subheader-text {
    color:#C12157 !important;
}
.panel-heading-about {
    background-color: #423737 !important;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.about-hero {
    background: url(../Resources/hero3.JPG);
    width: 100%;
    height: 200px;
    margin: 0;
    background: url(../Resources/hero3.JPG);
    background-size: cover;
    box-shadow: 0px 45px 20px -40px #000000;
}
.about-hero a {
    text-decoration: none !important
}
/* MARGINS ------------------------------------------------------------------------ */
/* top, bottom, left, right + amount */
.top50 {
    margin-top: 50px;
}
.top140 {
    margin-top: 140px;
}
.left100 {
    margin-left: 100px;
}

.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}